[tool.poetry]
name = "pycardano"
version = "0.5.0"
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
description = "A Cardano library in Python"
homepage = "https://github.com/cffls/pycardano"
documentation = "https://pycardano.readthedocs.io/en/latest/"
keywords = ["python", "cardano", "blockchain", "crypto"]
authors = ["Jerry <jerrycgh@gmail.com>"]
readme = "README.md"
repository = "https://github.com/cffls/pycardano"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
PyNaCl = "^1.4.0"
cbor2 = "^5.4.2"
typeguard = "^2.13.3"
blockfrost-python = "0.4.4"
websocket-client = "^1.2.3"
cose = "^0.9.dev8"

[tool.poetry.dev-dependencies]
Sphinx = "^4.3.2"
sphinx-rtd-theme = "^1.0.0"
pytest = "^7.1.1"
pytest-cov = "^3.0.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
black = "^22.3.0"
sphinx-copybutton = "^0.5.0"
retry = "^0.9.2"
Flask = "^2.0.3"
pytest-xdist = "^2.5.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_options]
addopts = "--doctest-modules --ignore=examples --ignore=integration-test --ignore=test/resources/haskell"
minversion = "6.0"

[tool.isort]
profile = "black"
